<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>33654827515-2c6hi32jg29c3d4i2euq9ib2or4v7tn4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.33654827515-2c6hi32jg29c3d4i2euq9ib2or4v7tn4</string>
	<key>API_KEY</key>
	<string>AIzaSyA9TX-AmX-1deK3sUUAx0y1HKewQV-zqKE</string>
	<key>GCM_SENDER_ID</key>
	<string>33654827515</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseSample02</string>
	<key>PROJECT_ID</key>
	<string>fir-sample02-97c1f</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-sample02-97c1f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:33654827515:ios:b07e09f0ff4c2a1d8bc35e</string>
</dict>
</plist>